<!-- <label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="password"> -->
<!-- <br />
<button class="btn btn-primary" [disabled]="password === ''" (click)="onDisplayDetails()">Display Details</button>
<p *ngIf="displayDetails">Secret password is {{ password }}</p>

<div *ngFor="let log of logs; let i = index;" [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
    [ngClass]="i >= 4 ? 'white-text': 'transparent'">
    {{ log }}
</div> -->


<!-- <app-server *ngFor="let server of servers"></app-server> -->